body {
  margin: 0;
}
:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
.search-form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.input-form {
  font-size: 30px;
  margin-right: 5px;
  color: blue;
  background-color: aqua;
}
.input-button {
  font-size: 30px;
  background-color: rgb(217, 246, 52);
  color: black;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.info {
  display: flex;
  text-align: center;
  margin: 0;
}
.info-item {
  margin: 0;
}
.photo-card {
  padding-bottom: 50px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.photo-card:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link:hover {
  cursor: zoom-in;
}
.load-more {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-size: 30px;
  background-color: rgb(239, 68, 199);
  color: bisque;
}
.is-hidden {
  display: none;
}
